// Base Font
$font-family: 'Open Sans', sans-serif;
$alt-font-family:'Montserrat', sans-serif;

//Colours
$primary-color: #202527;
$secondary-color:#D6992B;
$light-color:#B3B3B3;

//Border colors
$border-color:#E0E0E0;
$border-color-light:#2A3335;

