.speaker-img, .challange-img{
  display: block;
  float: left;
  @include span-columns(4);
}

.speaker-info{
  @include shift(1);
  @include span-columns(7);
}

.challange-info{
  @include span-columns(12);
}

.challange-info{
  padding-top: 0;
}