#organisers{
  background-color: white;
  padding-top: 60px;
  padding-bottom: 120px;
}

.team-member{
  width:20%;
  float: left;
  text-align: center;
  padding: 0;
  img{
    display:inline-block;
    width: 75%;
    height:auto;
    border-radius:50%;
  }
}

.member-name{
  font-family: $alt-font-family;
  font-size: 1.0em;
  margin: 0;
  font-weight: normal;
  padding:15px 0 0 0;
}

.member-position{
  color: #797C7D;
  font-weight: 400;
  margin: 0;
  padding:0;
  font-size: 0.9em;
}

.member-twitter{
  display: inline-block;
  color: darken($secondary-color, 10%);
  font-weight: 600;
  font-size: 0.9em;
  text-decoration: none;
  margin: 0;
}

.member-twitter:hover{
  color: darken($secondary-color, 10%);
  color: $secondary-color;
}

.team-module{
  padding-top: 40px;
}

.team-logo{
  @include span-columns(4);
  text-align: center;
  padding:40px;
}

.ia-link{
  display:inline-block;
  text-decoration: none;
  color: $primary-color;
  padding-bottom: 5px;
  border-bottom: 3px solid $primary-color;
}
.ia-link:hover{
  border-bottom:3px solid $secondary-color;
}

.organiser-intro{
  @include span-columns(12);
  padding-bottom: 40px;
  text-align: center;
}

.organiser-title{
  color: lighten($primary-color, 30%);
}